<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <title>@ViewBag.Title</title>

    <environment include="Production">
        <link href="~/css/site.min.css" rel="stylesheet" />
    </environment>

    <environment include="Development">
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>

</head>
<body>

<script src="https://afarkas.github.io/lazysizes/lazysizes.min.js"></script>

    @*<div>
        <nav class="layoutNav">
            <a asp-controller="Home" asp-action="index">Home Page</a>
            <a asp-controller="Panel" asp-action="Edit">Create Post</a>*@


            @*@if (User.Identity.IsAuthenticated)
            {*@
                @*@if (User.IsInRole("Admin"))
                {*@
                    @*<a asp-controller="Panel" asp-action="Panel">Admin Panel</a>
                }*@

                @*<a asp-controller="Auth" asp-action="Logout">Logout</a>
            }
            else
            {
                <a asp-controller="Auth" asp-action="Login">Sign In</a>
            }*@


        @*</nav>
    </div>*@

    <div>
        @RenderBody()
    </div>
</body>
</html>
