@model LoginViewModel

@{

}

<div>
    <nav class="layoutNav">
        <a asp-controller="Home" asp-action="index">Home Page</a>
    </nav>
 </div>

<div class="container2">

    <form class="sign-in-form" asp-controller="Auth" asp-action="Login" method="post">

        <div>
            <input asp-for="UserName" value="admin" style="display:none" />
        </div>
        <div>
            <input asp-for="Password" class="password" placeholder="Enter Password" />
        </div>

        <div>
            <input type="submit" value="Sign In" class="submit-btn" />
            @*<a asp-controller="Auth" asp-action="Register">Register</a>*@
        </div>


    </form>
</div>