@model IEnumerable<Post>

@{ 

}

<div>
    <nav class="layoutNav">
        <a asp-controller="Home" asp-action="index">Home Page</a>
    </nav>
</div>
<h2 class="admintitle">Admin Panel</h2>

<div class="panel">
    <ul>
        @foreach(var post in Model)
        {
            var image_path = $"/Image/{post.Image}";


        <li>
            <img src="@image_path" />
            <a asp-contoller="Panel" asp-action="Edit" asp-route-id="@post.Id">
                - Edit
            </a>

            <a asp-contoller="Panel" asp-action="Remove" asp-route-id="@post.Id">
                - Remove
            </a>
        </li>
        }
    </ul>
</div>